{% extends 'base.html' %}
    {% block title %}
    <title>REGISTER</title>
    {% endblock %}

    {% block content %}
    {% load crispy_forms_tags %}
    <div class="container-fluid bg-secondary">
        <div class="jumbotron">
            <h1 class="text-danger" align="center">SIGN UP</h1>

            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <input type="submit" value="REGISTER" class="btn btn-success btn-lg">
            </form>
        </div>
    </div>
    {% endblock %}